@import url(../weekday-marker.scss);
@import url(../tables.scss);
@import url(../search/highlight.scss);

.top-controls,
.bottom-controls {
  display: flex;
  justify-content: space-between;
}

.log-id-form {
  width: 100px;
}

.number {
  text-align: right;
}

table {
  table-layout: fixed;
  font-family: Arial, Helvetica, sans-serif;
  font-size: smaller;
  width: 100%;

  thead {
    .id {
      width: 40px;
    }

    .icon {
      width: 32px;
    }

    .date {
      width: 50px;
    }

    .time {
      width: 60px;
    }

    .type {
      width: 45px;
    }

    .path {
      width: 200px;
    }

    .line {
      width: 40px;
    }

    .count {
      width: 40px;
    }
  }

  tbody {
    tr {
      cursor: default;

      .icon {
        text-align: center
      }

      .type {
        text-align: center;
      }

      .message {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .path {
        div {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          direction: rtl;
          position: relative;
          text-align: right;
          color: grey;

          &::after {
            content: attr(data-file);
            color: black;
            position: absolute;
            right: 0;
          }
        }
      }
    }

    tr:hover,
    tr.selected {
      background-color: rgb(149, 197, 255);
      color: white;

      .path {
        color: rgb(33, 133, 255);

        &::after {
          color: white;
        }
      }
    }
  }

}