@import url(../weekday-marker.scss);
@import url(../tables.scss);
@import url(../search/highlight.scss);

.list-container {
  border: 1px solid gray;
}

.flex-list {
  display: flex;
  flex-direction: column;
}

.title {
  background-color: rgba(0, 0, 0, 4%);
}

.content {
  background-color: rgba(0, 0, 0, 13%);
  white-space: pre-wrap;
  overflow-x: auto
}