<div *ngIf="hasData()" class="list-container">
  <div class="flex-list" *ngFor="let item of data">
    <div class="title">
      <span *ngIf="search">
        <span *ngFor="let part of searchParts(item.detail_type)">
          <span class="{{part.className}}">{{part.text}}</span>
        </span>
      </span>
      <span *ngIf="!search">{{item.detail_type}}</span>
    </div>
    <div class="content">
      <span *ngIf="search">
        <span *ngFor="let part of searchParts(item.details)">
          <span class="{{part.className}}">{{part.text}}</span>
        </span>
      </span>
      <span *ngIf="!search">{{item.details}}</span>
    </div>
  </div>
</div>

<mat-paginator *ngIf="showPagnator()" #paginator [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
  [length]="totalItems" [pageIndex]="pageIndex" (page)="handlePageEvent($event)"></mat-paginator>