<table class="striped">
  <thead>
    <tr>
      <td>Log</td>
      <td>scope</td>
      <td>date</td>
      <td>time</td>
      <td>type</td>
      <td></td>
      <td>message</td>
      <td></td>
      <td>path</td>
      <td>line</td>
      <td>count</td>
    </tr>
  </thead>
  <tbody attr.data-can-select="{{!isDialogOpen}}">
    <tr *ngFor="let item of data" (click)="onRowClick(item)">
      <td class="number">{{item.id}}</td>
      <td title="{{item.scope}}"><img src="{{ generateMatrixImage(item.scope_hash)}}"></td>
      <td title="{{item.last_at * 1000 | date: 'fullDate'}}" attr.data-weekday="{{item.last_at * 1000 | date: 'c' }}">
        {{item.last_at * 1000 | date: 'shortDate'}}</td>
      <td title="{{item.last_at * 1000 | date: 'fullTime'}}">{{item.last_at * 1000 | date: 'shortTime'}}</td>
      <td title="{{item.type}}">{{errorTypeAsEmoji(item.type)}}</td>
      <td><img src="{{ generateMatrixImage(item.message_hash)}}"></td>
      <td title=" {{item.message}}">
        <div class="message">{{item.message}}</div>
      </td>
      <td><img src="{{ generateMatrixImage(item.path_hash)}}"></td>
      <td title="{{item.path}}">
        <div class="path" attr.data-file="{{parseFile(item.path)}}">&lrm;{{item.path}}</div>
      </td>
      <td class="number">{{item.line | number}}</td>
      <td class="number">{{item.count | number}}</td>
    </tr>
  </tbody>
</table>

<mat-paginator #paginator [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" [length]="totalItems"
  [pageIndex]="pageIndex" (page)="handlePageEvent($event)"></mat-paginator>