<table class="striped">
  <thead>
    <tr>
      <td width="50">Log</td>
      <td width="32">App</td>
      <td width="50">date</td>
      <td width="60">time</td>
      <td width="32">type</td>
      <td width="32"></td>
      <td>message</td>
      <td width="32"></td>
      <td width="200">path</td>
      <td width="40">line</td>
      <td width="50">count</td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of data" (click)="onRowClick(item)" class="{{selectedClass(item.id)}}">
      <td class="number">{{item.id}}</td>
      <td title="{{item.scope}}"><img src="{{ generateMatrixImage(item.scope_hash)}}"></td>
      <td title="{{item.last_at * 1000 | date: 'fullDate'}}" attr.data-weekday="{{item.last_at * 1000 | date: 'c' }}">
        {{item.last_at * 1000 | date: 'shortDate'}}</td>
      <td title="{{item.last_at * 1000 | date: 'fullTime'}}">{{item.last_at * 1000 | date: 'shortTime'}}</td>
      <td title="{{item.type}}">{{errorTypeAsEmoji(item.type)}}</td>
      <td><img src="{{ generateMatrixImage(item.message_hash)}}"></td>
      <td title=" {{item.message}}">
        <div class="message">{{item.message}}</div>
      </td>
      <td><img src="{{ generateMatrixImage(item.path_hash)}}"></td>
      <td title="{{item.path}}">
        <div class="path" attr.data-file="{{parseFile(item.path)}}">&lrm;{{item.path}}</div>
      </td>
      <td class="number">{{item.line >= 0 ? item.line : '' | number}}</td>
      <td class="number">{{item.count | number}}</td>
    </tr>
  </tbody>
</table>

<div class="bottom-controls">
  <form>
    <mat-form-field appearance="fill" class="log-id-form">
      <mat-label>Log Id</mat-label>
      <input matInput mat-form-field type="number" data-1p-ignore size="5" id="selectedId" [(ngModel)]="selectedId"
        name="selectedId">
    </mat-form-field>
    <button color="primary" mat-raised-button type="submit" (click)="loadSelected()">Lookup</button>
  </form>
  <mat-paginator #paginator [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" [length]="totalItems"
    [pageIndex]="pageIndex" (page)="handlePageEvent($event)"></mat-paginator>
</div>