<img src="{{graphDates(data)}}">
<table class="striped">
  <thead>
    <tr>
      <td>Started</td>
      <td>Duration</td>
      <td>Occurances</td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of data">
      <td attr.data-weekday="{{item.first_at * 1000 | date: 'c' }}" title="{{item.first_at * 1000 | date: 'full'}}">
        {{item.first_at * 1000 | date: 'short'}}</td>
      <td>
        {{(item.last_at - item.first_at) * 1000 | duration}}</td>
      <td class="number">{{item.count | number}}</td>
    </tr>
  </tbody>
</table>
<div class="bottom-controls">
  <mat-progress-spinner *ngIf="waiting" mode="indeterminate" diameter="32"></mat-progress-spinner>
  <mat-paginator [disabled]="waiting" *ngIf="showPagnator()" #paginator [pageSize]="pageSize"
    [pageSizeOptions]="pageSizeOptions" [length]="totalItems" [pageIndex]="pageIndex"
    (page)="handlePageEvent($event)"></mat-paginator>
</div>