<div class="top-controls">
  <form>
    <mat-form-field appearance="fill" class="search-form">
      <mat-label>Search</mat-label>
      <input matInput mat-form-field data-1p-ignore size="10" id="search" [(ngModel)]="searchInput" name="search">
    </mat-form-field>
    <button color="primary" mat-raised-button type="submit" (click)="search()">Search</button>
  </form>
  <div>
    <button color="secondary" mat-stroked-button (click)="editSettings()">Settings</button>
    <button color="secondary" mat-stroked-button (click)="logout()">Log Out</button>
  </div>
</div>
<table class="striped">
  <thead>
    <tr>
      <td class="id">Log</td>
      <td class="icon">App</td>
      <td class="date">date</td>
      <td class="time">time</td>
      <td class="type">type</td>
      <td class="icon"></td>
      <td class="message">message</td>
      <td class="icon"></td>
      <td class="path">path</td>
      <td class="line">line</td>
      <td class="count">count</td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of data" (click)="onRowClick(item)" class="{{selectedClass(item.id)}}">
      <td class="id number">{{item.id}}</td>
      <td class="icon" title="{{item.scope}}"><img src="{{ generateMatrixImage(item.scope_hash)}}"></td>
      <td class="date" title="{{item.last_at * 1000 | date: 'fullDate'}}"
        attr.data-weekday="{{item.last_at * 1000 | date: 'c' }}">
        {{item.last_at * 1000 | date: 'shortDate'}}</td>
      <td class="time" title="{{item.last_at * 1000 | date: 'fullTime'}}">{{item.last_at * 1000 | date: 'shortTime'}}
      </td>
      <td class="type" title="{{item.type}}">{{errorTypeAsEmoji(item.type)}}</td>
      <td class="icon"><img src="{{ generateMatrixImage(item.message_hash)}}"></td>
      <td class="message" title=" {{item.message}}">
        <div *ngIf="searchText">
          <span *ngFor="let part of searchParts(item.message)">
            <span class="{{part.className}}">{{part.text}}</span>
          </span>
        </div>
        <div *ngIf="!searchText">{{item.message}}</div>
      </td>
      <td class="icon"><img src="{{ generateMatrixImage(item.path_hash)}}"></td>
      <td class="path" title="{{item.path}}">
        <div *ngIf="searchText" attr.data-file="{{parseFile(item.path)}}">
          <span *ngFor="let part of searchParts(item.path)">
            <span class="{{part.className}}">&lrm;{{part.text}}</span>
          </span>
        </div>
        <div *ngIf="!searchText" attr.data-file="{{parseFile(item.path)}}">
          &lrm;{{item.path}}
        </div>
      </td>
      <td class="line number">{{item.line >= 0 ? item.line : '' | number}}</td>
      <td class="count number">{{item.count | number}}</td>
    </tr>
  </tbody>
</table>

<div class="bottom-controls">
  <form>
    <mat-form-field appearance="fill" class="log-id-form">
      <mat-label>Log Id</mat-label>
      <input matInput mat-form-field type="number" min="1" data-1p-ignore size="5" id="selectedId"
        [(ngModel)]="selectedId" name="selectedId">
    </mat-form-field>
    <button color="primary" mat-raised-button type="submit" (click)="loadSelected()">Lookup</button>
  </form>
  <mat-paginator #paginator [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" [length]="totalItems"
    [pageIndex]="pageIndex" (page)="handlePageEvent($event)"></mat-paginator>
</div>