<h2 mat-dialog-title>User Settings</h2>
<div mat-dialog-content>
  <form [formGroup]="credentialsForm" (ngSubmit)="saveCredentials()">
    <mat-card appearance="outlined">
      <mat-card-header>
        <mat-card-title>Credentials</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="columns">
          <div>
            <mat-form-field>
              <mat-label>Username</mat-label>
              <input #usernameInput required matInput autocomplete="username" mat-form-field size="10"
                formControlName="username">
              <mat-hint>Letters and digits.</mat-hint>
              <mat-error *ngIf="credentialsForm.get('username')?.hasError('required')">Required.</mat-error>
              <mat-error *ngIf="credentialsForm.get('username')?.hasError('minlength')">Too short.</mat-error>
              <mat-error *ngIf="credentialsForm.get('username')?.hasError('alphaNumericOnly')">Must be
                alpha-numeric.</mat-error>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field>
              <mat-label>Password</mat-label>
              <input required matInput autocomplete="new-password" type="password" mat-form-field size="10"
                formControlName="password" name="password">
              <mat-hint>Letters, digits and symbols.</mat-hint>
              <mat-error *ngIf="credentialsForm.get('password')?.hasError('required')">Required.</mat-error>
              <mat-error *ngIf="credentialsForm.get('password')?.hasError('minlength')">Too short.</mat-error>
              <mat-error *ngIf="credentialsForm.get('password')?.hasError('uppercaseRequired')">Uppercase
                required.</mat-error>
              <mat-error *ngIf="credentialsForm.get('password')?.hasError('lowercaseRequired')">Lowercase
                required.</mat-error>
              <mat-error *ngIf="credentialsForm.get('password')?.hasError('digitRequired')">Digit required.</mat-error>
              <mat-error *ngIf="credentialsForm.get('password')?.hasError('symbolRequired')">Symbol
                required.</mat-error>
            </mat-form-field>
          </div>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button [disabled]="savingCredentials || !credentialsForm.valid" color="primary" mat-flat-button type="submit">
          Change
        </button>
        <mat-progress-spinner *ngIf="savingCredentials" mode="indeterminate" diameter="32"></mat-progress-spinner>
      </mat-card-actions>
    </mat-card>
  </form>
  <form [formGroup]="tfaForm" (ngSubmit)="saveTwoFactorAuth()">
    <mat-card appearance="outlined">
      <mat-card-header>
        <mat-card-title>Two-Factor Authentication</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="columns">
          <div class="spaced-rows">
            <mat-slide-toggle (change)="changeTfaEnabled()" formControlName="enabled">
              <mat-label *ngIf="tfaForm.get('enabled')?.value">Enabled</mat-label>
              <mat-label *ngIf="!tfaForm.get('enabled')?.value">Disabled</mat-label>
            </mat-slide-toggle>
            <p>
              <mat-form-field appearance="fill">
                <mat-label>One-Time Password</mat-label>
                <input matInput mat-form-field data-1p-ignore size="10" formControlName="otp">
              </mat-form-field>
            </p>
            <mat-card-actions>
              <button [disabled]="savingTfa || !tfaForm.valid" color="primary" mat-flat-button type="submit">
                Apply
              </button>
              <mat-progress-spinner *ngIf="savingTfa" mode="indeterminate" diameter="32"></mat-progress-spinner>
            </mat-card-actions>
          </div>
          <div class="qr">
            <qr-code value="{{provisionUrl}}" size="200" errorCorrectionLevel="L" />
            <p mat-body>{{ newSecret }}</p>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </form>
</div>
<div mat-dialog-actions align="end">
  <button [mat-dialog-close]="true" color="secondary" mat-stroked-button type="button" (click)="close()">Close</button>
</div>