table {
  table-layout: fixed;

  .scroll {
    overflow: auto;
  }
}

.api-error {
  color: red;
}

.validators {
  color: red;
}

.columns {
  display: flex;
  flex-direction: row;
  column-gap: 1vw;

  .spaced-rows {
    >* {
      margin-top: 3vh;
    }
  }

  .qr {
    text-align: center;
  }
}