<h2 mat-dialog-title>Error Log #{{ item.id }}</h2>
<div mat-dialog-actions align="end">
  <button color="secondary" mat-stroked-button type="button" (click)="prior()">Prior</button>
  <button id="nextButton" color="secondary" mat-stroked-button type="button" (click)="next()">Next</button>
  <button [mat-dialog-close]="true" color="primary" mat-flat-button type="button" (click)="close()">Close</button>
</div>
<div mat-dialog-content>
  <table class="striped" width="100%">
    <thead>
      <tr>
        <td width="100">Name</td>
        <td>Value</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Scope</td>
        <td>
          <img src="{{generateMatrixImage(item.scope_hash)}}">
          <span *ngIf="searchText">
            <span *ngFor="let part of searchParts(item.scope)">
              <span class="{{part.className}}">{{part.text}}</span>
            </span>
          </span>
          <span *ngIf="!searchText">{{item.scope}}</span>

        </td>
      </tr>
      <tr>
        <td>Logged</td>
        <td attr.data-weekday="{{item.first_at * 1000 | date: 'c' }}">{{item.first_at * 1000 | date: 'full'}} </td>
      </tr>
      <tr>
        <td>Age</td>
        <td>{{item.first_at * 1000 | age }}</td>
      </tr>
      <tr>
        <td>Recent</td>
        <td attr.data-weekday="{{item.last_at * 1000 | date: 'c' }}">{{item.last_at * 1000 | date: 'full'}} </td>
      </tr>
      <tr>
        <td>Duration</td>
        <td>{{durationMs() | duration}}</td>
      </tr>
      <tr>
        <td>Occurances</td>
        <td>{{ item.count | number }} </td>
      </tr>
      <tr>
        <td>Type</td>
        <td>
          {{ errorTypeAsEmoji(item.type) }}
          <span *ngIf="searchText">
            <span *ngFor="let part of searchParts(evaluatedType())">
              <span class="{{part.className}}">{{part.text}}</span>
            </span>
            <span *ngFor="let part of searchParts(originalType())">
              <span class="{{part.className}}">{{part.text}}</span>
            </span>
          </span>

          <span *ngIf="!searchText">{{ evaluatedType() }} {{ originalType() }} </span>

        </td>
      </tr>
      <tr>
        <td>Message</td>
        <td class="scroll">
          <img src="{{generateMatrixImage(item.message_hash)}}">
          <span *ngIf="searchText">

            <span *ngFor="let part of searchParts(item.message)">
              <span class="{{part.className}}">{{part.text}}</span>
            </span>
          </span>
          <span *ngIf="!searchText">{{item.message}}</span>
        </td>
      </tr>
      <tr>
        <td>Path</td>
        <td class="scroll">
          <img src="{{generateMatrixImage(item.path_hash)}}">
          <span *ngIf="searchText">
            <span *ngFor="let part of searchParts(item.path)">
              <span class="{{part.className}}">{{part.text}}</span>
            </span>
          </span>
          <span *ngIf="!searchText">{{item.path}}</span>
        </td>
      </tr>
      <tr>
        <td>Line</td>
        <td>{{ item.line }} </td>
      </tr>
    </tbody>
  </table>
  <app-log-details id="{{ item.id }}" search="{{ searchText }}"></app-log-details>
  <app-log-dates id="{{ item.id }}"></app-log-dates>

</div>